name: Save Webcam Image

on:
  schedule:
    - cron: "*/30 * * * *"  # Ogni 30 minuti
  workflow_dispatch:  # Permette di avviare manualmente il workflow

permissions:
  contents: write  # Permette di scrivere nel repository

jobs:
  download:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Scarica immagine webcam
        run: |
          mkdir -p webcam
          ts=$(date +"%Y-%m-%d_%H-%M")  # Timestamp per il nome del file
          curl -L -o "webcam/webcam_${ts}.jpg" "http://www.parkhotelfantoni.it/Webcam/webcamnew.jpg" || echo "Errore nel download dell'immagine webcam!"

      - name: Crea file ZIP mensile
        run: |
          # Estrai mese e anno corrente
          month=$(date +"%Y-%m")
          
          # Crea una directory temporanea per il mese corrente
          mkdir -p "webcam_zip/$month"
          
          # Muovi tutte le immagini .jpg nella directory mensile solo se esistono
          if ls webcam/*.jpg 1> /dev/null 2>&1; then
            mv webcam/*.jpg "webcam_zip/$month/"
          else
            echo "Nessuna immagine da spostare nella directory webcam"
          fi
          
          # Verifica se ci sono immagini nella directory mensile prima di fare il zip
          if ls "webcam_zip/$month/*.jpg" 1> /dev/null 2>&1; then
            zip -u -r "webcam_zip/$month/webcam_images_${month}.zip" "webcam_zip/$month/*.jpg"
          else
            echo "Nessuna immagine trovata nella directory mensile per il mese ${month}!"
          fi

      - name: Commit & Push file ZIP
        run: |
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
          
          # Aggiungi il file ZIP e committa le modifiche
          git add "webcam_zip/"
          git commit -m "Nuove immagini webcam per ${month}" || echo "Nessun cambiamento da commettere"
          git push
