name: Save Webcam Image

on:
  schedule:
    - cron: "*/30 * * * *"  # Esegui ogni mezz'ora
  workflow_dispatch:  # Esegui manualmente

permissions:
  contents: write

jobs:
  download:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Scarica immagine webcam
        run: |
          mkdir -p webcam
          ts=$(date +"%Y-%m-%d_%H-%M")
          img_url="http://www.parkhotelfantoni.it/Webcam/webcamnew.jpg"
          img_path="webcam/webcam_${ts}.jpg"
          curl -L -o "$img_path" "$img_url" || { echo "Errore nel download dell'immagine"; exit 1; }

      - name: Aggiungi immagine al file zip
        run: |
          zip_file="webcam_images.zip"
          # Verifica se la cartella webcam contiene immagini
          if [ "$(ls -A webcam)" ]; then
            # Se il file zip non esiste, crealo
            if [ ! -f "$zip_file" ]; then
              zip -r "$zip_file" webcam/
            else
              # Aggiungi nuove immagini al file zip
              zip -r "$zip_file" webcam/* -x "*.zip"
            fi
          else
            echo "Nessuna immagine da aggiungere."
          fi

      - name: Commit & Push zip
        run: |
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
          git add "$zip_file"
          
          # Verifica se ci sono modifiche da commettere
          if git diff --quiet; then
            echo "Nessuna modifica da commettere."
          else
            git commit -m "Aggiornamento delle immagini webcam al $(date)"
            git push
          fi
